.index {
  width: 90%;
  margin: 10px auto;

  :global {
    .taroify-button--medium {
      height: 68px;
      line-height: 68px;
      display: flex;
      align-items: center;
    }
  }
}

.image {
  width: 276px;
  height: 276px;
}
